<h2>Add a New Blog</h2>

<%= form_with model: @blog do |form|%>
<%= form.label :title %>
<%= form.text_field :title %>
<%= form.label :content %>
<%= form.text_field :content%>
<%= form.submit "Add it" %> 
<% end %>


<p><%= link_to 'Go Back Home', blogs_path %></p>
