<h2><%= @blog.title %></h2>
<p><%= @blog.content %></p>
<br>
<br>
<p><%= link_to 'Go Back Home', blogs_path %></p>
<p><%= link_to 'Edit/Update', edit_blog_path %></p>
<p><%= button_to 'DELETE IT', delete_blog_path(@blog), method: :delete, form: { data:{'turbo-confirm': 'Are you sure you want to delete?'} } %></p>